<div>
    <div class="page-title">
        <h3 class="title text-dark">Welcome to Home Finance!</h3>
    </div>
   
    <div class="row">
        <div class="col-md-8">
            <div class="portlet">
                <div class="portlet-heading bg-blue">
                    <h3 class="portlet-title">
                        Accounts
                    </h3>
                    <div class="portlet-widgets">
                        <a ng-show="isBusy"><i class="fa fa-spinner fa-spin fa-lg"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-collapse collapse in">
                    <div class="portlet-body accounts-scroll">
                        <div ng-if="accounts.length==0" class="text-muted not-found text-center"> Accounts not found. Please create an account!</div>
                        <div class="row">
                            <div class="col-md-4" ng-repeat="account in accounts">
                                <div class="panel" ng-class="account.color">
                                    <div class="h2 text-white counter">{{account.AmountMoney | currency:"":0}}</div>
                                    <span class="text-white">{{account.Name}}</span>
                                    <div class="text-right">
                                        <i ng-if="account.Currency.Name=='BLR'" class="fa fa-2x text-white">Br</i>
                                        <i ng-if="account.Currency.Name!='BLR'" ng-class="{'fa fa-rub fa-2x text-white':account.Currency.Name=='RUB','fa fa-usd fa-2x text-white':account.Currency.Name=='USD','fa fa fa-eur fa-2x text-white':account.Currency.Name=='EUR'}"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portlet">
                <div class="portlet-heading bg-success">
                    <h3 class="portlet-title">
                        Exchange rates (NBRB)
                    </h3>

                    <div class="portlet-widgets">
                        <a ng-show="isBusy"><i class="fa fa-spinner fa-spin fa-lg"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-collapse collapse in">
                    <div class="portlet-body currency-body">
                        <ul class="list-group">
                            <li class="list-group-item currency-item" ng-if="item.Name!='BLR'" style="padding: 10px 10px;" ng-repeat="item in currencies|orderBy :'Name'">
                                <span>
                                    <img src="{{item.ImageURL}}" height="30" width="35" />
                                    {{item.Name}}
                                </span>
                                <span class="pull-right"><b>{{item.Value}}</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet">
        <div class="portlet-heading bg-info">
            <h3 class="portlet-title">
                My finances
            </h3>
            <div class="portlet-widgets">
                <a ng-show="isBusy"><i class="fa fa-spinner fa-spin fa-lg"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-collapse collapse in">
            <div class="portlet-body currency-body" style="height: 320px;">
                <center>
                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
                </center>
               
            </div>
        </div>
    </div>
</div>