<div class="loading" ng-show="isLoading">Loading</div>
<div class="navbar navbar-custom navbar-abs" role="navigation" ng-hide="isLoading">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand logo"><i class="fa fa-money"></i><span> HomeFinace</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="Authorization.isAuth"><a href="/#/dashboard">Dashboard</a></li>
                <li ng-hide="Authorization.isAuth"><a href="#" ng-click="singIn()">Sing in</a></li>
                <li ng-hide="Authorization.isAuth"><a href="#" ng-click="singUp()">Sing up</a></li>
                <li ng-show="Authorization.isAuth"><a href="#" ng-click="logOut()"><i class="fa fa-sign-out"></i> Log out</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="home bg-two" id="home">
	<div class="bg-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="home-fullscreen">
					<div class="full-screen">
						<div class="home-wrapper home-wrapper-alt">
							<h1 class="animated fadeInDown wow" data-wow-delay=".1s">Home Finance - the best of the best</h1>
							<h4 class="animated fadeInDown wow" data-wow-delay=".2s">HOME FINANCE is a system to record personal and family finances, conduct home accounting.<br /> HOME FINANCE operate through a web browser, no additional software is not needed!</h4>
                            <a ng-click="getLink()" class="btn btn-custom btn-rnd animated fadeInDown wow" data-wow-delay=".4s">Learn more</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

