USE [master]
GO
/****** Object:  Database [HomeFinance]    Script Date: 16.05.2016 15:00:09 ******/
CREATE DATABASE [HomeFinance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomeFinance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HomeFinance.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HomeFinance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HomeFinance_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeFinance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeFinance]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 16.05.2016 15:00:09 ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[AmountMoney] [float] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[CurrencyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Costs]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Costs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[TransactionType] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[CostCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Costs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CostsCategories]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostsCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CostsCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CostsPlaning]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostsPlaning](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
	[AccountId] [int] NOT NULL,
	[CostsCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CostsPlaning] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Currency]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Currency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Income]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Income](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[TransactionType] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[IncomeCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Income] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IncomeCategories]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomeCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.IncomeCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IncomePlaning]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomePlaning](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
	[AccountId] [int] NOT NULL,
	[IncomeCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.IncomePlaning] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tokens]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AuthToken] [nvarchar](max) NULL,
	[IssuedOn] [datetime] NOT NULL,
	[ExpiresOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Tokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.05.2016 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [Name], [AmountMoney], [CreatedDate], [UserId], [CurrencyId]) VALUES (3, N'Prior', 1719000, CAST(N'2016-04-28 23:28:41.263' AS DateTime), 1, 2)
INSERT [dbo].[Account] ([Id], [Name], [AmountMoney], [CreatedDate], [UserId], [CurrencyId]) VALUES (4, N'University', 100000, CAST(N'2016-04-28 23:43:22.073' AS DateTime), 1, 3)
INSERT [dbo].[Account] ([Id], [Name], [AmountMoney], [CreatedDate], [UserId], [CurrencyId]) VALUES (5, N'BVeb', 302323, CAST(N'2016-05-14 22:19:30.267' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Costs] ON 

INSERT [dbo].[Costs] ([Id], [Amount], [Description], [CreatedDate], [UpdatedDate], [TransactionType], [AccountId], [CostCategoryId]) VALUES (1, 25000, N'test1', CAST(N'2016-04-28 23:35:27.387' AS DateTime), NULL, 1, 3, 1)
INSERT [dbo].[Costs] ([Id], [Amount], [Description], [CreatedDate], [UpdatedDate], [TransactionType], [AccountId], [CostCategoryId]) VALUES (2, 30000, N'test2', CAST(N'2016-04-28 23:35:41.680' AS DateTime), NULL, 1, 3, 1)
INSERT [dbo].[Costs] ([Id], [Amount], [Description], [CreatedDate], [UpdatedDate], [TransactionType], [AccountId], [CostCategoryId]) VALUES (3, 21000, N'test2', CAST(N'2016-04-28 23:36:02.990' AS DateTime), NULL, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[Costs] OFF
SET IDENTITY_INSERT [dbo].[CostsCategories] ON 

INSERT [dbo].[CostsCategories] ([Id], [Name], [UserId]) VALUES (1, N'Food', 1)
INSERT [dbo].[CostsCategories] ([Id], [Name], [UserId]) VALUES (2, N'Cigarettes', 1)
INSERT [dbo].[CostsCategories] ([Id], [Name], [UserId]) VALUES (5, N'ByFly,Zala', 1)
SET IDENTITY_INSERT [dbo].[CostsCategories] OFF
SET IDENTITY_INSERT [dbo].[CostsPlaning] ON 

INSERT [dbo].[CostsPlaning] ([Id], [Amount], [Date], [AccountId], [CostsCategoryId]) VALUES (1, 343434343, CAST(N'2016-05-09 23:30:10.000' AS DateTime), 3, 7)
INSERT [dbo].[CostsPlaning] ([Id], [Amount], [Date], [AccountId], [CostsCategoryId]) VALUES (2, 100, CAST(N'2016-04-09 23:30:10.000' AS DateTime), 3, 1)
INSERT [dbo].[CostsPlaning] ([Id], [Amount], [Date], [AccountId], [CostsCategoryId]) VALUES (5, 33434, CAST(N'2016-06-09 23:30:10.000' AS DateTime), 3, 5)
SET IDENTITY_INSERT [dbo].[CostsPlaning] OFF
SET IDENTITY_INSERT [dbo].[Currency] ON 

INSERT [dbo].[Currency] ([Id], [Name]) VALUES (1, N'RUB')
INSERT [dbo].[Currency] ([Id], [Name]) VALUES (2, N'USD')
INSERT [dbo].[Currency] ([Id], [Name]) VALUES (3, N'BLR')
SET IDENTITY_INSERT [dbo].[Currency] OFF
SET IDENTITY_INSERT [dbo].[Income] ON 

INSERT [dbo].[Income] ([Id], [Amount], [Description], [CreatedDate], [UpdatedDate], [TransactionType], [AccountId], [IncomeCategoryId]) VALUES (1, 2500000, N'Received salary', CAST(N'2016-04-28 23:30:51.407' AS DateTime), CAST(N'2016-04-06 21:00:00.000' AS DateTime), 2, 3, 2)
INSERT [dbo].[Income] ([Id], [Amount], [Description], [CreatedDate], [UpdatedDate], [TransactionType], [AccountId], [IncomeCategoryId]) VALUES (2, 150000, N'Mother gave me money', CAST(N'2016-04-28 23:32:19.203' AS DateTime), NULL, 1, 3, 4)
INSERT [dbo].[Income] ([Id], [Amount], [Description], [CreatedDate], [UpdatedDate], [TransactionType], [AccountId], [IncomeCategoryId]) VALUES (3, 250000, N'Mother gave me money-new', CAST(N'2016-04-28 23:32:26.870' AS DateTime), NULL, 1, 3, 4)
SET IDENTITY_INSERT [dbo].[Income] OFF
SET IDENTITY_INSERT [dbo].[IncomeCategories] ON 

INSERT [dbo].[IncomeCategories] ([Id], [Name], [UserId]) VALUES (2, N'Salary', 1)
INSERT [dbo].[IncomeCategories] ([Id], [Name], [UserId]) VALUES (3, N'Freelancing', 1)
INSERT [dbo].[IncomeCategories] ([Id], [Name], [UserId]) VALUES (4, N'Parents Help', 1)
SET IDENTITY_INSERT [dbo].[IncomeCategories] OFF
SET IDENTITY_INSERT [dbo].[IncomePlaning] ON 

INSERT [dbo].[IncomePlaning] ([Id], [Amount], [Date], [AccountId], [IncomeCategoryId]) VALUES (3, 60000, CAST(N'2016-04-28 23:30:51.407' AS DateTime), 3, 4)
INSERT [dbo].[IncomePlaning] ([Id], [Amount], [Date], [AccountId], [IncomeCategoryId]) VALUES (4, 3000000, CAST(N'2016-04-28 23:30:51.407' AS DateTime), 3, 2)
INSERT [dbo].[IncomePlaning] ([Id], [Amount], [Date], [AccountId], [IncomeCategoryId]) VALUES (15, 3434, CAST(N'2016-05-09 23:30:10.000' AS DateTime), 3, 2)
SET IDENTITY_INSERT [dbo].[IncomePlaning] OFF
SET IDENTITY_INSERT [dbo].[Tokens] ON 

INSERT [dbo].[Tokens] ([Id], [UserId], [AuthToken], [IssuedOn], [ExpiresOn]) VALUES (20, 1, N'613a6e2c-01a8-4345-9fbd-5ea54ef08387', CAST(N'2016-05-16 13:42:10.377' AS DateTime), CAST(N'2016-05-17 17:42:10.377' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tokens] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Password]) VALUES (1, N'admin', N'mik12094921@yandex.ru', N'AHB520rB9HKp5FDSt8hC5G1EM5TM+gLkqxD9D/Jzp7z8PMHG7ypWWm6345mwsG2x9w==')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_CurrencyId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_CurrencyId] ON [dbo].[Account]
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Account]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[Costs]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CostCategoryId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_CostCategoryId] ON [dbo].[Costs]
(
	[CostCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[CostsCategories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[CostsPlaning]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CostsCategoryId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_CostsCategoryId] ON [dbo].[CostsPlaning]
(
	[CostsCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[Income]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IncomeCategoryId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_IncomeCategoryId] ON [dbo].[Income]
(
	[IncomeCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[IncomeCategories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[IncomePlaning]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IncomeCategoryId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_IncomeCategoryId] ON [dbo].[IncomePlaning]
(
	[IncomeCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 16.05.2016 15:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Tokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Account_dbo.Currency_CurrencyId] FOREIGN KEY([CurrencyId])
REFERENCES [dbo].[Currency] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.Account_dbo.Currency_CurrencyId]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Account_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.Account_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Costs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Costs_dbo.Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Costs] CHECK CONSTRAINT [FK_dbo.Costs_dbo.Account_AccountId]
GO
ALTER TABLE [dbo].[Costs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Costs_dbo.CostsCategories_CostCategoryId] FOREIGN KEY([CostCategoryId])
REFERENCES [dbo].[CostsCategories] ([Id])
GO
ALTER TABLE [dbo].[Costs] CHECK CONSTRAINT [FK_dbo.Costs_dbo.CostsCategories_CostCategoryId]
GO
ALTER TABLE [dbo].[CostsCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CostsCategories_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CostsCategories] CHECK CONSTRAINT [FK_dbo.CostsCategories_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[CostsPlaning]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CostsPlaning_dbo.Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[CostsPlaning] CHECK CONSTRAINT [FK_dbo.CostsPlaning_dbo.Account_AccountId]
GO
ALTER TABLE [dbo].[CostsPlaning]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CostsPlaning_dbo.CostsCategories_CostsCategoryId] FOREIGN KEY([CostsCategoryId])
REFERENCES [dbo].[CostsCategories] ([Id])
GO
ALTER TABLE [dbo].[CostsPlaning] CHECK CONSTRAINT [FK_dbo.CostsPlaning_dbo.CostsCategories_CostsCategoryId]
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Income_dbo.Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Income] CHECK CONSTRAINT [FK_dbo.Income_dbo.Account_AccountId]
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Income_dbo.IncomeCategories_IncomeCategoryId] FOREIGN KEY([IncomeCategoryId])
REFERENCES [dbo].[IncomeCategories] ([Id])
GO
ALTER TABLE [dbo].[Income] CHECK CONSTRAINT [FK_dbo.Income_dbo.IncomeCategories_IncomeCategoryId]
GO
ALTER TABLE [dbo].[IncomeCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IncomeCategories_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IncomeCategories] CHECK CONSTRAINT [FK_dbo.IncomeCategories_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[IncomePlaning]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IncomePlaning_dbo.Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[IncomePlaning] CHECK CONSTRAINT [FK_dbo.IncomePlaning_dbo.Account_AccountId]
GO
ALTER TABLE [dbo].[IncomePlaning]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IncomePlaning_dbo.IncomeCategories_IncomeCategoryId] FOREIGN KEY([IncomeCategoryId])
REFERENCES [dbo].[IncomeCategories] ([Id])
GO
ALTER TABLE [dbo].[IncomePlaning] CHECK CONSTRAINT [FK_dbo.IncomePlaning_dbo.IncomeCategories_IncomeCategoryId]
GO
ALTER TABLE [dbo].[Tokens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tokens_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tokens] CHECK CONSTRAINT [FK_dbo.Tokens_dbo.Users_UserId]
GO
USE [master]
GO
